providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "C:\\Users\\Administrator\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075\\MQL5"
          source: "C:\\Users\\Administrator\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075\\MQL5\\.build-tools.cson"
          name: "Compila"
          command: "\"C:\\Program Files\\Metatrader 5\\metaeditor64.exe\" /compile:\"C:\\Users\\Administrator\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075\\MQL5\\Experts\\Bucareste\\Bucareste.mq5\""
          wd: "."
          env: {}
          modifier:
            wildcards: {}
            save_all: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: [
              {
                name: "all"
              }
            ]
          stderr:
            pipeline: [
              {
                name: "all"
              }
            ]
          output:
            console:
              close_success: false
              queue_in_buffer: true
              colors: true
              stdin: false
          version: 2
        }
      ]
  }
  {
    key: "bt"
    config:
      commands: []
  }
]
